USE [NGANHANG]
GO
/****** Object:  StoredProcedure [dbo].[SP_CONVERT_EMPLOYEE]    Script Date: 14/5/2023 8:17:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONVERT_EMPLOYEE] @MANV NVARCHAR(10), @MACN NCHAR(10)
AS
BEGIN
	
	DECLARE @TrangThaiXoa BIT
	SET @TrangThaiXoa=(SELECT TrangThaiXoa FROM NhanVien WHERE MANV=@MANV)
	IF(@TrangThaiXoa IS NULL OR @TrangThaiXoa=1)
	BEGIN
		RAISERROR ( 'Nhan vien khong ton tai trong chi nhanh', 16, 1)
		RETURN
	END
	SET XACT_ABORT ON
	BEGIN DISTRIBUTED TRANSACTION;
	UPDATE NhanVien SET TrangThaiXoa=1 WHERE MANV=@MANV;
	SELECT N'Đã xử lý trên Local Server, đợi 10 giây'
	WAITFOR DELAY '00:00:10' 
	IF(EXISTS(SELECT * FROM LINK1.NGANHANG.DBO.NhanVien WHERE MANV=@MANV))
	BEGIN
		UPDATE LINK1.NGANHANG.DBO.NHANVIEN SET TrangThaiXoa=0 WHERE MANV=@MANV
	END
	ELSE 
	BEGIN
		INSERT INTO LINK1.NGANHANG.DBO.NHANVIEN (MANV,HO,TEN,CMND,DIACHI,PHAI,SODT,MACN,TrangThaiXoa)
		SELECT MANV,HO,TEN,CMND,DIACHI,PHAI,SODT,@MACN,0 FROM NhanVien WHERE MANV=@MANV
	END
	SELECT N'Đã xử lý trên Remote Server, đợi 10 giây'
	WAITFOR DELAY '00:00:10'
	COMMIT TRANSACTION;
END
